* {
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alienworm-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alienworm-logo img {
    position: relative;
    width: 15%;
}

.alienworm-logo h3 {
    position: relative;
    margin-top: 16px;
}

.alienworm-logo h3 a {
    color: #3578e5;
    text-decoration: none;
}